# Pycharm stuff
.idea

# Virtual Environments
.venv
venv/
.env/
env/

# Node
node_modules/
*/static/*/node_modules/

# Django
core/settings.py
formsvalidator/migrations/

# Database
*.sqlite3
db.sqlite3
